header {
  height: 300px;
  background-color: #ECEFF1;
}

.header-content {
  /*margin: 0 auto;*/
  /*text-align: center;*/

}
.header-photo-container {
  position: relative;
  float: right;
}

.header-info {
  position: relative;
  float: left;

}

.header-photo {
  border-radius: 10px;
  height: 300px;
}

.centered {
  margin: 0 auto;
  text-align: center;
  padding: 0 50px 0 50px;
}

.about {
  height: 200px;
  font-size: 1.5em;

}

.skills {
  height: 150px;
  display: inline-block;
  background-color: #FFF59D;
}

.logo {
  position: relative;
  display: inline-block;
  overflow: none;
  heigth: 50px;
  width: 50px;
}

.portfolio {
  height: 400px;
  background-color: #81D4FA;
}

.project {
  position: relative;
  display: inline;
  float: left;
  background-color: black;
  height: 80%;
  width: 40%;
  margin-right: 10px;
  text-align: center;

}

.education-experience {
  height: 200px;
  background-color: #A5D6A7;
}

.bored {
  height: 200px;
  background-color: yellow;
}


.footer {
  height: 200px;
}
